
ch1 = {
    'sf_public' : 'aaaaaaaaaaaaaaaaaaaa',
    'sf_private': 'bbbbbbbbbbbbbbbbbbbb',
}

ch4 = {
    'sf_public' : 'ffffffffffffffffffff',
    'sf_private': 'gggggggggggggggggggg',
}

ch5 = {
    'sf_public' : 'xxxxxxxxxxxxxxxxxxxx',
    'sf_private': 'yyyyyyyyyyyyyyyyyyyy',
}

channels = {
    1: ch1,
    4: ch4,
    5: ch5,
}

